In [1]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [2]:
# 如果没有安装pandas，只需取消对以下行的注释：
# !pip install pandas
import pandas as pd

data = pd.read_csv(data_file)
print(data)
type(data)
data
#csv为逗号分隔值文件

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [26]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]#csv数据格式，行：列
inputs = inputs.fillna(inputs.mean())#插入均值填补,
print(inputs)
#print(outputs)
#type(inputs)

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

对于 inputs 中的类别值或离散值，我们将 “NaN” 视为一个类别。

In [34]:
inputs = pd.get_dummies(inputs, dummy_na=True)
#将数据的NA值，制作为新的类
print(inputs)

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

现在 inputs 和 outputs 中的所有条目都是数值类型，它们可以转换为张量格式。

In [32]:
import torch

X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
#X为输入数据的值，每一行为一个样本
#y为价格
X, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))